{
    "source": {
        "directories": [
            "src"
        ]
    },
    "threads": "max",
    "minCoveredMsi": 90,
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true,
        "ProtectedVisibility": false,
        "PublicVisibility": false,
        "MethodCallRemoval": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::ensureHttpClientConfigured",
                "FediE2EE\\PKD\\Features\\FetchTrait::fetchUnverifiedPublicKeys",
                "FediE2EE\\PKD\\Features\\FetchTrait::fetchUnverifiedAuxData",
                "FediE2EE\\PKD\\Features\\FetchTrait::fetchUnverifiedAuxDataByID",
                "FediE2EE\\PKD\\Features\\FetchTrait::fetchRecentMerkleRoot",
                "FediE2EE\\PKD\\Features\\PublishTrait::preamble",
                "FediE2EE\\PKD\\Features\\VerifyTrait::fetchPublicKeys",
                "FediE2EE\\PKD\\Features\\VerifyTrait::fetchAuxDataByID",
                "FediE2EE\\PKD\\Features\\VerifyTrait::fetchAuxData"
            ]
        },
        "BitwiseOr": {
            "ignoreSourceCodeByRegex": [
                ".*JSON_.*"
            ]
        },
        "Concat": {
            "ignoreSourceCodeByRegex": [
                ".*throw\\s+?new.*"
            ],
            "ignore": [
                "FediE2EE\\PKD\\Features\\VerifyTrait::fetchPublicKeys"
            ]
        },
        "ConcatOperandRemoval": {
            "ignoreSourceCodeByRegex": [
                ".*throw\\s+?new.*"
            ],
            "ignore": [
                "FediE2EE\\PKD\\Features\\VerifyTrait::fetchPublicKeys"
            ]
        },
        "IfNegation": {
            "ignoreSourceCodeByRegex": [
                ".*array_key_exists.*",
                ".*is_null.*"
            ]
        },
        "LogicalNot": {
            "ignore": [
                "FediE2EE\\PKD\\EndUserClient::__construct",
                "FediE2EE\\PKD\\InstanceClient::__construct",
                "FediE2EE\\PKD\\Features\\APTrait::parseJsonResponse"
            ]
        },
        "ArrayItemRemoval": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::getInboxUrl",
                "FediE2EE\\PKD\\Features\\APTrait::ensureHttpClientConfigured",
                "FediE2EE\\PKD\\Features\\VerifyTrait::fetchPublicKeys"
            ]
        },
        "ArrayItem": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::ensureHttpClientConfigured"
            ]
        },
        "IncrementInteger": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\VerifyTrait",
                "FediE2EE\\PKD\\Features\\APTrait::ensureHttpClientConfigured"
            ]
        },
        "DecrementInteger": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\VerifyTrait",
                "FediE2EE\\PKD\\Features\\APTrait::ensureHttpClientConfigured",
                "FediE2EE\\PKD\\Features\\VerifyTrait::verifyInclusionProofInternal"
            ]
        },
        "Continue_": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\VerifyTrait"
            ],
        },
        "MatchArmRemoval": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\VerifyTrait",
                "FediE2EE\\PKD\\Features\\PublishTrait::getInternalHpke"
            ]
        },
        "NotIdentical": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::parseJsonResponse"
            ]
        },
        "ReturnRemoval": {
            "ignore": [
                "FediE2EE\\PKD\\EndUserClient::flattenActor",
                "FediE2EE\\PKD\\Features\\FetchTrait::fetchUnverifiedAuxData",
                "FediE2EE\\PKD\\Features\\VerifyTrait::verifyInclusionProofInternal"
            ]
        },
        "GreaterThanOrEqualTo": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\VerifyTrait::verifyInclusionProofInternal"
            ]
        },
        "CastInt": true,
        "LogicalAnd": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\VerifyTrait::hasRequiredProofFields",
                "FediE2EE\\PKD\\Features\\VerifyTrait::hasRequiredAuxDataProofFields"
            ]
        },
        "LogicalAndAllSubExprNegation": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\VerifyTrait::hasRequiredProofFields",
                "FediE2EE\\PKD\\Features\\VerifyTrait::hasRequiredAuxDataProofFields"
            ]
        },
        "LogicalAndSingleSubExprNegation": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\VerifyTrait::hasRequiredProofFields",
                "FediE2EE\\PKD\\Features\\VerifyTrait::hasRequiredAuxDataProofFields"
            ]
        },
        "LogicalOr": {
            "ignoreSourceCodeByRegex": [
                ".*!is_string.*",
                ".*!is_array.*",
                ".*!isset.*"
            ]
        },
        "Throw_": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::parseJsonResponse"
            ]
        }
    },
    "logs": {
        "text": "infection.log"
    }
}
