{
    "source": {
        "directories": [
            "src"
        ]
    },
    "threads": "max",
    "minCoveredMsi": 80,
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true,
        "ProtectedVisibility": false,
        "PublicVisibility": false,
        "MethodCallRemoval": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::ensureHttpClientConfigured",
                "FediE2EE\\PKD\\Features\\FetchTrait::fetchPublicKeys",
                "FediE2EE\\PKD\\Features\\FetchTrait::fetchAuxData",
                "FediE2EE\\PKD\\Features\\FetchTrait::fetchAuxDataByID",
                "FediE2EE\\PKD\\Features\\FetchTrait::fetchRecentMerkleRoot",
                "FediE2EE\\PKD\\Features\\PublishTrait::fetchServerInfo",
                "FediE2EE\\PKD\\Features\\PublishTrait::assertSecretKeySet",
                "FediE2EE\\PKD\\Features\\ProtocolTrait::preamble"
            ]
        },
        "BitwiseOr": {
            "ignoreSourceCodeByRegex": [
                ".*JSON_.*"
            ]
        },
        "Concat": {
            "ignoreSourceCodeByRegex": [
                ".*throw\\s+?new.*"
            ]
        },
        "ConcatOperandRemoval": {
            "ignoreSourceCodeByRegex": [
                ".*throw\\s+?new.*"
            ]
        },
        "IfNegation": {
            "ignoreSourceCodeByRegex": [
                ".*array_key_exists.*",
                ".*is_null.*"
            ]
        },
        "LogicalNot": {
            "ignore": [
                "FediE2EE\\PKD\\EndUserClient::__construct",
                "FediE2EE\\PKD\\InstanceClient::__construct"
            ]
        },
        "ArrayItemRemoval": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::getInboxUrl",
                "FediE2EE\\PKD\\Features\\APTrait::ensureHttpClientConfigured"
            ]
        },
        "ArrayItem": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::ensureHttpClientConfigured"
            ]
        },
        "IncrementInteger": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::ensureHttpClientConfigured"
            ]
        },
        "DecrementInteger": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::ensureHttpClientConfigured"
            ]
        },
        "MatchArmRemoval": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\PublishTrait::getInternalHpke"
            ]
        },
        "LogicalNot": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::parseJsonResponse"
            ]
        },
        "NotIdentical": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::parseJsonResponse"
            ]
        },
        "ReturnRemoval": {
            "ignore": [
                "FediE2EE\\PKD\\EndUserClient::flattenActor",
                "FediE2EE\\PKD\\Features\\FetchTrait::fetchAuxData"
            ]
        },
        "Throw_": {
            "ignore": [
                "FediE2EE\\PKD\\Features\\APTrait::parseJsonResponse"
            ]
        }
    },
    "logs": {
        "text": "infection.log"
    }
}
