name: Style

on: [push, pull_request]

permissions: {}

jobs:
  php-cs-fixer:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: false

      - name: Setup PHP
        uses: shivammathur/setup-php@db91e1a0e48e84637d325a7ee4d2677e146ceec4  # v2.36.0
        with:
          php-version: '8.4'

      - name: Install Composer dependencies
        uses: ramsey/composer-install@b38926e6aa883a48335a05214b1d7afe9d9913ca  # v3.1.1

      - name: Run PHP-CS-Fixer
        run: vendor/bin/php-cs-fixer fix --dry-run --diff --allow-risky=yes
